<template>
    <div id='{{fileName}}'></div>
</template>

<script>
export default {
    name: '{{fileName}}',
    props: [

    ],
    data () {
        return {

        }
    },
    methods: {

    },
    computed: {

    },
    components: {

    },
    mounted () {

    }
};

</script>

<style scoped>
#{{fileName}}{

}
</style>
